dist: trusty
language: python
python:
- 3.4
- 3.5
notifications:
  email: false
  slack:
    secure: NOCG2XTdrDlRwaZxiGUMSJgufAgeg5rTqy/DPw5BrTK4aPKLflP86ZwS2tvscWY/ikpORKoCJ4I/cvni9YUcC59JqE2gEifIDuW51hDpiEtIFAK2tCD6aFVHpG1tK8oUJF/dE6/1Gmwso6KzNT+6+Xle6mdqtxeb9zAxBDSt4MWCYJfmkpqKOpPa9hYSMwk+TLJpEDlFCnDjJ1YcMyJy9gDa3LY5nIH6xJlVfG4lPyrKSrNgLuhN/EKvF8rgHObQhGOGFhh4HM620T1atml7DNRiRcSgPmKrNQb2TpiuJjvgKI2UyKD6rzbnScGKXd1MHz4kgscqPLTcxqTdmk0bkR7BssN0GV7cYmMcTZL74isJDDc4tboR/FopgrYLQNJAeoZJt6XhM1sJzuqDmfRBz5myjC6iWrjW7o6PCkvyCTCfT8KPv7Bj803F9GAkjReD6Vzs9bd/YSLDlntAFmjNj31ghLY4Opkj91idFP47sueVs4uzr4/WYB1gTZHi3co4SJBYXSypItjB8QwhGFK12vVauXoPL/XjABicMHdoHN0OS/3UK9bBigxlcU9RC7qovqT6EY/eHjNAkj5un5uE0erA8sBgT2+eBmWojkrO8zFu0aN8gaYcKHcbBJ1LS0OC0CjvEyq1qA7o5YDvtnaz3ZvFtz0iD4M4CEN9vT+eJ8M=
before_install:
- wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
- chmod +x miniconda.sh
- ./miniconda.sh -b
- export PATH=/home/travis/miniconda2/bin:$PATH
- conda update --yes conda
- sudo rm -rf /dev/shm
- sudo ln -s /run/shm /dev/shm
install:
- conda create --yes -n test python=$TRAVIS_PYTHON_VERSION numpy scipy scikit-learn pip
- source activate test
- pip install -r requirements.txt
script: nosetests --with-coverage --cover-package=ClassRank
after_success: coveralls
