{% extends base.html %}

{% block content %}

<div class="row text-center">
  <div class = "col-md-3">
    <select id="SemesterDropdown" class="col-md-10" onchange="semesterSelected()">
      <option selected disabled>Semester</option>
    </select>
  </div>

  <div class = "col-md-3">
    <select id="CourseDropdown" class="col-md-10" onchange="courseSelected()">
      <option selected disabled>Course</option>
    </select>
  </div>

  <div class = "col-md-3">
    <select id="SectionDropdown" class="col-md-10" onchange="sectionSelected()">
      <option selected disabled>Section</option>
    </select>
  </div>
</div>

<!-- Javascript to filter courses based on dropdown selections -->
<script src="{{ static_url('prof_view_scripts.js') }}"></script>
<script type="text/javascript">
  prof_js_init( {% raw courses %} );
</script>

{% end %}
