{% extends base.html %}

{% block content %}

<form action='/register' method='post'>

    <fieldset class='form-group'>
        {% for field in [{'name': 'username', 'type': 'text', 'label': "Username", 'placeholder': "Joshua"},
                         {'name': 'email', 'type': 'email', 'label': "Email", "placeholder": "joshua@example.edu"},
                         {'name': 'school', 'type': 'text', 'label': "School", 'placeholder': "gatech"},
                         {'name': 'password', 'type': 'password', 'label': "Password", 'placeholder': "secret_password"},
                         {'name': 'password_confirm', 'type': 'password', 'label': "Confirm Password", 'placeholder': "One more time!"}] %}

        {% comment : `or (field['name']=='password_confirm' and 'password' in errors)` is a kludgy workaround so that both password boxes highlight %}
          <div class="form-group row {% if field['name'] in errors or (field['name']=='password_confirm' and 'password' in errors) %}has-danger{% end %}">
              {% if errors.get(field['name'], None) %}
                <div class="alert alert-danger" role="alert">
                    {{ errors[field['name']][0] }}
                </div>
              {% end %}
              <label for="{{field['name']}}_form" class="col-sm-2 form-control-label">{{field['label']}}</label>
            <div class="col-sm-10">
                <input type="{{field['type']}}" class="form-control {% if field['name'] in errors or (field['name']=='password_confirm' and 'password' in errors) %}
                    form-control-danger
                {% end %}" id="{{field['name']}}_form"
                       placeholder="{{field['placeholder']}}" name="{{field['name']}}">
            </div>
          </div>
        {% end %}

      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-secondary">Register</button>
        </div>
      </div>
  </fieldset>
</form>

{% end %}
