{% extends base.html %}

{% block content %}

<form action='/settings' method='post'>
    {% if errors.get('unknown', None) %}
      {{errors['unknown'][0]}}
    {% end %}

    {% if update_success %}
    <div class="alert alert-success">
      Your information has been updated
    </div>
    {% end %}


    <fieldset class='form-group'>
      <div class="form-group row {% if 'password' in errors %}has-danger{% end %}">
        {% if errors.get('password', None) %}
            <div class="alert alert-danger" role="alert">
                {{ errors['password'][0] }}
            </div>
        {% end %}
        <label for="current_password_form" class="col-sm-2 form-control-label">Current Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control {% if 'password' in errors %}form-control-danger{% end %}" id="current_password_form"
                 placeholder="" name='current_password'>
        </div>
      </div>

      <div class="form-group row {% if 'new_password' in errors %}has-danger{% end %}">
        {% if errors.get('new_password', None) %}
            <div class="alert alert-danger" role="alert">
                {{ errors['new_password'][0] }}
            </div>
        {% end %}
        <label for="new_password_form" class="col-sm-2 form-control-label">New Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control {% if 'new_password' in errors %}form-control-danger{% end %}" id="new_password_form"
                 placeholder="" name='new_password'>
        </div>
      </div>

      <div class="form-group row {% if 'new_password_confirm' in errors %}has-danger{% end %}">
        {% if errors.get('new_password_confirm', None) %}
            <div class="alert alert-danger" role="alert">
                {{ errors['new_password_confirm'][0] }}
            </div>
          {% end %}
        <label for="new_password_confirm_form" class="col-sm-2 form-control-label">New Password (Confirm)</label>
        <div class="col-sm-10">
          <input type="password" class="form-control {% if 'new_password_confirm' in errors %}form-control-danger{% end %}" id="new_password_confirm_form"
                 placeholder="" name='new_password_confirm'>
        </div>
      </div>

      <div class="form-group row {% if 'email' in errors %}has-danger{% end %}">
          {% if errors.get('email', None) %}
            <div class="alert alert-danger" role="alert">
                {{ errors['email'][0] }}
            </div>
          {% end %}
        <label for="new_email_form" class="col-sm-2 form-control-label">Email Address</label>
        <div class="col-sm-10">
          <input type="email" class="form-control {% if 'email' in errors %}form-control-danger{% end %}" id="new_email_form"
                 value="{{email}}" name='new_email'>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-secondary">Submit Changes</button>
        </div>
      </div>
  </fieldset>
</form>

{% end %}
