<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% include 'js.html' %}
        {% include 'css.html' %}
        <title>ClassRank</title>
    </head>
    <body style="background-color:rgba(200,200,200,255)">
        <div class="container vertical-center">
                <div class="'jumbotron center-block">
                    <h1 class="display-2">ClassRank</h1>

                    <p class="text-xs-center"><a href="login">Login</a> | <a href="register">Register</a></p>

                    <p class="text-xs-center"><a href="privacy">Privacy</a> | <a href="security">Security</a> | <a href="about">About</a></p>
                </div>
        </div>
    </body>
</html>
