<!DOCTYPE html>

<link rel="icon" type="/image/png" href="/static/favicon.ico">


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% include 'js.html' %}
        {% include 'css.html' %}
        <title>ClassRank</title>
    </head>
    <body>
        <div class="container vertical-center">
            <div class="jumbotron minwidth">
                <h1 class="display-2">ClassRank</h1>

                <p class="text-xs-center">
                    <a href="login" class="btn btn-secondary" role="button">Login</a>
                    <a href="register" class="btn btn-secondary" role="button">Register</a>
                    <a href="about" class="btn btn-secondary" role="button">About</a>
                    <a href="privacy" class="btn btn-secondary" role="button">Privacy</a>
                    <a href="security" class="btn btn-secondary" role="button">Security</a>
                </p>
            </div>
        </div>
    </body>
</html>
